{% extends 'mafia/base.html' %}

{% block body %}

<div class="container">
	<h1>How to play</h1>
	<br>
	<p>Mafia is a game of deception. At the beginning of the game, a small percentage of the players will be chosen to be part of the Mafia. They will know each other, but none of the other players will know who they are. The goal if you are chosen to be mafia is to kill off villagers until mafia comprise a majority of the living plaeyrs. If you are town, you must use your powers of deduction and interrogation to figure out who the mafia are, and vote them out of the village.</p>

	<p>Many times, mafia is played with variations in the setup, which include special roles or rules to make the interactions more dynamic and interesting. </p>

</div>

{% endblock %}