{% extends 'mafia/base.html' %}

{% block body %}

<div class="container">
	<h1><u>How to play</u></h1>
	<br>
	<p>Mafia is a game of deception. At the beginning of the game, a small percentage of the players will be chosen to be part of the Mafia. They will know each other, but none of the other players will know who was chosen. The goal as <b>mafia</b> is to kill off villagers until the mafia comprise a majority of the living players. As <b>town</b>, you must use your powers of deduction and interrogation to figure out who the mafia are, and vote them out of the village. The gameplay alternates between two phases, day and night. The mafia (and other special roles) do their actions during the night phase, when the other players have their heads down. Discussion and lynching happens during the day phase.</p>

	<p>Many times, mafia is played with variations in the setup, which include special roles or rules to make the interactions more dynamic and interesting. There are also variations in the way voting and moderating is done, which you can read about in our <a href="{% url 'ruleset' %}">rulesets page.</a> This section will instead help you understand what mindset you need to be in as a player on either side, and things you can do to accomplish your team's goals.</p>

	<h3><u>Playing as Town</u></h3>

	<ul>
	
	<li><p>Gather your suspicions of other people (This can be from strange reactions to deaths/claims, odd votes on formals, general quietness, playing differently than usual)</p></li>
	<li><p>Talk about your suspicions with the town! Contribute to discussions! </p></li>
	<li><p>Pressure people that have weak, strange or no suspicions (Mafia members are more likely to have ‘weird’ suspicions or to stay quiet)</p></l>
	<li><p>Vote on suspicious people! It’s important to vote on your suspicions because you can weed out people who are not willing to vote on their mafia buddies! Don’t feel bad! </p></li>
	<li><p>SIDE NOTE: Never ‘give up’ during a defense. If you’re a townie, you should always make an effort to live and contribute to the town. Being willing to die as a townie is not helpful to the town!</p></li>
	</ul>
	<p>
	All of the above can be accomplished as a VT! Good VT are vital to town’s success and implementing the above into your VT play will make it more fun too.
	</p>

	<h3><u>Playing as Mafia</u></h3>

	<ul>
	<li><p>Avoid suspicion and gain respect in town by playing ‘townie’ (following the above tips)</p></li>
	<li><p>Learn when and when not to cover for your mafia teammates</p></li>
	<li><p>Pre-plan your day play! IE. The suspicions you’ll raise to town, or fake-claiming detective/doctor claims with proper night uses.</p></li>
	</ul>

	</br>
	<p>These are just the basics! Mafia can be theory-crafted to an insane level; in the end just make sure you’re engaged and having fun.</p>

</div>

{% endblock %}