{% extends 'mafia/base.html' %}

{% block body %}

<div class="container">
	<h1><u>Rulesets</u></h1>
	<br>
	<p>Different mafia clubs around the world play with different rulesets. Here you can find a small compilation of ours and our affiliate's rulesets.</p>

    <h3><u>McGill</u></h3>
    <p><i>The formal voting system</i></p>  

    <p>The game starts on a shortened day phase. From there, the play alternates between night phase and day phase, with regular day phase lasting around 6 minutes. No roles or allignments are revealed on death.</p>

    <p>Lynching is done through a 'formal' system. To initiate a lynch, a player must verbally formal who they wish to accuse, and have the motion be verbally seconded by another player. The game will then enter a one-minute formal period, in which conversation should revolve around the accused player. After the interrogation period, the original accuser must decide to push to voting or rescind the formal. If the accuser decides to push, the accused has a final 10 second defense. The town will then vote on the lynch, and a majority vote will mean death for the player. If a majority vote is not reached, the player is immune from formals for the rest of the day. If the formal is instead rescinded, then normal day phase gameplay resumes and the accused is not immune.</p>

    <p>Note that formals do not pause game time, and if a formal goes past the day timer, it will still take the full minute to complete. If that final voting period does not result in a kill, there is a 50% chance that the town will get another formal before sleeping. If so, the town has 30 seconds to decide on the last formal. If not, day phase will end without a lynch, and night phase will begin.</p>

    <p>Another small rule we have is that the first person to die during night phase within a game can leave an 8 character message to be given to the town on the following day. The message can be submitted at the end of the day where the player has died. If multiple players die during the first night phase, they can both leave a message.</p>

    <h3><u>Princeton</u></h3>
    <p><i>Majority voting</i></p>

    TBD

    <h3><u>MIT</u></h3>
    <p><i>Live Action Mafia</i></p>

    TBD

</div>

{% endblock %}