{% extends 'mafia/base.html' %}

{% block body %}

{% load static %}

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>{{ setup.name }}</h1>
			<br>
			<p>Description: {{ setup.description }}</p>

            <div class="player_group">
                <label class="number_players">Number of players: {{ setup.maximumPlayers }}</label>
                <input type="range" name="players" class="players" value={{ setup.maximumPlayers }} min={{ setup.minimumPlayers }} max={{ setup.maximumPlayers }}>
            </div>
            <br> 

            <h4>Roles In Setup</h4>
			<ul class="role_list">
                <script> var setup = []; var alignments = []</script>
		        {% for role in setup.roles.all %}
    
                    <script> 
                        setup[{{ forloop.counter0 }}] = "{{role.name}}"; 
                        alignments[{{ forloop.counter0 }}] = "{{role.alignment}}";
                    </script>
                {% endfor %}
			</ul>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default role-info">
				<div class="panel-heading">Name</div>
				<div class="panel-body">Description</div>
			</div>
		</div>
	</div>
</div>

<script> var roleList = {{ roles|safe }}; </script>
<script src="{% static 'mafia/js/setup_detail.js' %}"></script>

{% endblock %}
