{% extends 'mafia/base.html' %}

{% block body %}

{% load static %}

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>{{ setup.name }}</h1>
			<br>
			<p>Description: {{ setup.description }}</p>

			<h4>Roles In Setup</h4>

			<ul>
			        {% for role in setup.roles.all %}
			        <li><a href="#" id="{{ role.name }}">{{ role.name }}</a>
			        {% endfor %}
			</ul>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default role-info">
				<div class="panel-heading">My name is</div>
				<div class="panel-body">HERE WE ARE</div>
			</div>
		</div>
	</div>
</div>

<script> var roleList = {{ roles|safe }}; </script>
<script src="{% static 'mafia/js/setup_detail.js' %}"></script>

{% endblock %}