p {
	font-size: 12px;
}

button {
    border-radius: 12px;
    background-color: #8E65EB;
    border-color: #281DB3;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #D4BBFD;
    color: white;
}

.role-info {
    margin-top: 150px;
}