p {
	font-size: 12px;
}

button {
    border-radius: 12px;
    background-color: #8E65EB;
    border-color: #281DB3;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #D4BBFD;
    color: white;
}

.role-info {
    margin-top: 150px;
}

.mafia {
    color: red;
}

a:target {
    color: green;
}

/*Stuff for slider*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.65px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 21.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.42);
  border-radius: 9.2px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.1px 2.1px 6.9px #000031, 0px 0px 2.1px #00004b;
  border: 1.8px solid #00001e;
  height: 33px;
  width: 15px;
  border-radius: 44px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(74, 144, 204, 0.42);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 21.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.42);
  border-radius: 9.2px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.1px 2.1px 6.9px #000031, 0px 0px 2.1px #00004b;
  border: 1.8px solid #00001e;
  height: 33px;
  width: 15px;
  border-radius: 44px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 21.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(34, 81, 121, 0.42);
  border: 0.2px solid #010101;
  border-radius: 18.4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.42);
  border: 0.2px solid #010101;
  border-radius: 18.4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 2.1px 2.1px 6.9px #000031, 0px 0px 2.1px #00004b;
  border: 1.8px solid #00001e;
  height: 33px;
  width: 15px;
  border-radius: 44px;
  background: #ffffff;
  cursor: pointer;
  height: 21.7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.42);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(74, 144, 204, 0.42);
}
.players {
    width = 200px;
}